<div class="form-group show" id='container-3'>
    <div class="card">
        <h2 class='card-header'>Children</h2>
        <div id='ul-container-3'>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Age Group</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each family as |child| }}
                    <tr class='clickable-row' data-href="/api/internal/familyProfile/{{child.parent_id}}"
                        data={{child.parent_id}}>
                        <td>{{child.firstName}}</td>
                        <td>{{child.lastName}}</td>
                        <td>{{format_date child.birthdate}}</td>
                        <td>{{child.billing.type}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <h2 class='card-header'>Parents</h2>
    <div id='ul-container-3'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each family as |family|}}
                <tr class='clickable-row' data-href="/api/internal/familyProfile/{{parent_id}}" data={{parent_id}}>
                    {{#each parents}}
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
        <button class="btn btn-sm btn-primary" id="addFamily" data-id="{{something.id}}">Add New Family</button>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

</div>