<div class="container">
    <div class="form-group show">
        <div class="card">
            <h1 class='card-header'>Parent Profile</h1>
            <button class="btn btn-sm btn-primary" id="updateParent" data-id="{{family.id}}">UPDATE</button>

            <div class="row">
                <div class="col" id='ul-container-3'>

                    <h3>Parent Contact Info:</h3>
                    <div class="input-group">
                        <span class="input-group-text">First Name:</span>
                        <textarea class="form-control" id="familyEdit-first"
                            aria-label="First Name">{{family.firstName}}</textarea>

                        <span class="input-group-text">Last Name:</span>
                        <textarea class="form-control" id="familyEdit-last"
                            aria-label="Last Name">{{family.lastName}}</textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Phone Number:</span>
                        <textarea class="form-control" id="familyEdit-phone"
                            aria-label="Phone Number:">{{family.phone}}</textarea>

                        <span class="input-group-text">Email Address:</span>
                        <textarea class="form-control" id="familyEdit-email"
                            aria-label="Email Address">{{family.email}}</textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Street Address:</span>
                        <textarea class="form-control" id="familyEdit-address"
                            aria-label="Street Address">{{family.address}}</textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">City:</span>
                        <textarea class="form-control" id="familyEdit-city" aria-label="City">{{family.city}}</textarea>

                        <span class="input-group-text">State:</span>
                        <textarea class="form-control" id="familyEdit-state"
                            aria-label="State">{{family.state}}</textarea>

                        <span class="input-group-text">Postal Code:</span>
                        <textarea class="form-control" id="familyEdit-postalCode"
                            aria-label="Postal Code">{{family.postalCode}}</textarea>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-danger" id="parentId" data-id="{{family.id}}"><a
                    href="deleteParent/{{family.id}}">DELETE</a></button>
        </div>
    </div>
</div>
<span id="updateChild"></span>
<span id="newChild"></span>
<span id="newParent"></span>
<script src="/js/familyCRUD.js"></script>